<section class="section" id="section--1">
    <div class="section__title">
      <h2 class="section__description">About me</h2>
      <h3 class="section__header">
        The who, what and why ...
      </h3>
    </div>

    <div class="education">
      <img
        src="../../assets/gavel-law-icon.svg"
        data-src="img/digital.jpg"
        alt="JS"
        class="education__img"
      />
      <div class="education__feature">
        <!-- <div class="education__icon">
          <svg>
            <use xlink:href="img/icons.svg#icon-monitor"></use>
          </svg>
        </div> -->
        <h5 class="education__header">Starting my career in law</h5>
        <p>
          I started working at Van Bruggen Attorneys right out of school and registered to study Bachelors in Commerce in Law the the University of South Africa. 
          I completed my degree during 2023 and registered to study the remainder of my Bachelors in Law (LLB) to become an attorney. 
          A few things that I have learned in this industry about myself - I enjoy research, a lot! Few things come close to the feeling of solving a problem after many hours of research. 
          I also found that I enjoy helping people. Though law can be challenging, the thing I least enjoy about it, is that it can become very repetitive and not leading to learning something new.
        </p>
         
      </div>

      
    </div>   
    <div class="education">
        <img
          src="../../assets/Programming_icon_flat_circle.svg"
          data-src="img/digital.jpg"
          alt="JS"
          class="education__img"
        />
        <div class="education__feature">
          <!-- <div class="education__icon">
            <svg>
              <use xlink:href="img/icons.svg#icon-monitor"></use>
            </svg>
          </div> -->
          <h5 class="education__header">Information Technology</h5>
          <p>
            At the start of 2024, I decided to dedicate my spare time to learning how to program, and what a journey this has been! I enrolled in a javascript course at Udemy and started coding away. 
            I soon realised that this was something I that not only challenged me, but was what I wanted to dedicate the next part of my career to. 
            I recently attended a selection bootcamp and WeThinkCode_ which only semented this centiment. I realise that not having a degree in software like many others in this field might set me back a bit, but this only spurred me to work even harder.
            I also firmly believe that this drive to make it in this competitive industry is what I could bring to the table to any software house. 
          </p>
           
        </div>
  
        
      </div>   
      <div class="education">
        <img
          src="../../assets/chess-knight-svgrepo-com.svg"
          data-src="img/digital.jpg"
          alt="JS"
          class="education__img"
        />
        <div class="education__feature">
          <!-- <div class="education__icon">
            <svg>
              <use xlink:href="img/icons.svg#icon-monitor"></use>
            </svg>
          </div> -->
          <h5 class="education__header">Hobbies and Interests</h5>
          <p>
            Apart from programming which has become more than just a hobby for me, I also enjoy the Outdoors. I like camping, fishing, hunting and hiking. <br>
            I am also an avid chess player and enjoy participating on the Chess.com platform, where I am currently rated above 1600 ELO points. <br> 
            I enjoy watching movies - Christopher Nolan's are my favourite. 
          </p>
           
        </div>
  
        
      </div>  
    
</section>