.navbar {
  position: sticky;
  top: 0;
  height: 9vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #212121;
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  display: inline-block;
  font-size: 1.5rem;
  cursor:pointer;
  padding: 1vh 1vh;
  transform:   skewX(-15deg); 
  transform-origin: left;
}
.nav-img{ 
  height: 4.5rem;
  transition: all 0.3s;
} 

.nav-item {
  font-weight: bold;
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}
 
.nav-icon:hover{ 
  background-color: #69acd8;
  
}
 