
<nav class="navbar">
  <div class="navbar-center">
      <span class = "nav-icon">
          <img class = "nav-img"
      src="../../assets/hw-logo.jpg">
      </span>
       
      <div class="cart-btn">
          <span class="nav-icon" >
            <a class="nav-item" routerLink="">Home</a>
          </span>
           
      </div>
      <div class="cart-btn">
        <span class="nav-icon" >
          <a class="nav-item" routerLink="about">About Me</a>
        </span>
         
      </div>  
        <div class="cart-btn">
          <span class="nav-icon" >
            <a class="nav-item" routerLink="legal-me">Legal Me</a>
          </span>
           
       </div>
      
      <div class="cart-btn">
        <span class="nav-icon" >
          <a class="nav-item" routerLink="tech-me">Tech Me</a>
        </span>
     </div>
     <div class="cart-btn">
      <span class="nav-icon" >
        <a class="nav-item" routerLink="contact">Contact Me</a>
      </span>
   </div>
  </div>
</nav>
 
  <router-outlet></router-outlet>
  
