<section class="section" id="section--1">
    <div class="section__title">
      <h2 class="section__description">Legal Me</h2>
      <h3 class="section__header">
        My career in Law so far:
      </h3>
    </div>

    <div class="education">
      <img
        src="../../assets/gavel-law-icon.svg"
        data-src="img/digital.jpg"
        alt="JS"
        class="education__img"
      />
      <div class="education__feature">
        <!-- <div class="education__icon">
          <svg>
            <use xlink:href="img/icons.svg#icon-monitor"></use>
          </svg>
        </div> -->
        <h5 class="education__header">Education</h5>
        <h4> Bachelors of Commerce in Law (2023) - UNISA</h4>
        <p>
          I am proud to hold a Bachelors degree of Commerce in Law from the University of South Africa. 
        </p>
        <h4> Bachelors of Law - UNISA</h4>
        <p>
          I am currently enrolled and about halfway through my Bachelors degree in Law (LLB). 
        </p>
        <h4>CIVIL LITIGATION IN THE MAGISTRATES COURT(2019) - LSSA </h4>
        <p>
          I have attended an completed a course dedicated to teach the basic understanding of Civil Litigation 
          procedures in the Magistrates Courts. 
        </p>
        <h4>Protection of Personal Infromation Act(2020) - Labour Guide </h4>
        <p>
          I have attended an completed a course dedicated to teach the basic understanding of Civil Litigation 
          procedures in the Magistrates Courts. 
        </p>
      </div>

      
    </div>   
    <div class="education">
        <img
          src="../../assets/work-10.svg"
          data-src="img/digital.jpg"
          alt="JS"
          class="education__img"
        />
        <div class="education__feature">
          <!-- <div class="education__icon">
            <svg>
              <use xlink:href="img/icons.svg#icon-monitor"></use>
            </svg>
          </div> -->
          <h5 class="education__header">Experience</h5>
          <h4> Litigation Clerk - Van Bruggen Attorneys(2017-2020; 2021-present)</h4>
          <p>
            Tasks and responsibilieties entrusted to me were: <br>
            • Consult with clients <br>
            • Serve and file documents <br>
            • Diarise and filing of case files <br>
            • Drafting of litigious documents and letters <br>
            • Consult with counsel <br>
            • Formulating and application of litigation strategies <br>
            • Attending to Emails and Telephone calls required. <br>

          </p>
          <h4> Legal Advisor - C&K Moneyline (Pty) Ltd </h4>
          <p>
            As Legal Advisor, my duties and responsibilities were inter alia:<br>
            • Attending to Cancellations<br>
            • Advising and Assisting HR with Disciplinary procedures<br>
            • Advising and Assisting Debt Collections<br>
            • Attending to and advising the company on legal matter,<br>
                contracts and changes in regulations and legislation.<br>
            • Assisting and Advising the PR department<br>
            • Assisting and Advising the various Sales Department<br>
          </p>
          
        </div>
      </div>  
</section>