<section class="section" id="section--1">
    <div class="section__title">
      <h1>
        <span class="highlight from-left">CONTACT</span>
            <br />
        <span class="highlight from-right">ME</span>
      </h1>
    </div>
    <div class="contact-container">
    
    <div class="contact-links">
      <a href="https://github.com/H3NN13" target="_blank" class="contact-link">
        <img src="../../assets/github.png" alt="GitHub">
        GitHub
      </a>
      <a href="https://www.linkedin.com/in/hendrik-white-8a6215142" target="_blank" class="contact-link">
        <img src="../../assets/LinkedIn_icon.svg" alt="LinkedIn">
        LinkedIn
      </a>
    </div>
    <h2 class="section__description">Or </h2>
    <div class="contact-info">
      <p><strong>Email: </strong> <a href="mailto:whitey.hendrik123@gmail.com"> Send me an Email</a></p>
      <p>Cellphone : +27 61 440 3163</p>
      <p>Discord: hendrik7030</p>
    </div>
  
    
  </div>
</section>