
<section class="section" id="section--1">
    <div class="section__title">
      <h1>
        <span class="highlight from-left">TECH</span>
            <br />
        <span class="highlight from-right">ME</span>
      </h1>
       
    </div>

    <div class="education">
      <img
        src="../../assets/javascript-logo.svg"
        data-src="img/digital.jpg"
        alt="JS"
        class="education__img"
      />
      <div class="education__feature">
        <!-- <div class="education__icon">
          <svg>
            <use xlink:href="img/icons.svg#icon-monitor"></use>
          </svg>
        </div> -->
        <h5 class="education__header">The Complete JavaScript Course: From Zero to Expert</h5>
        <p>
          This is a 70 hours JavaScript course on Udemy by Jonas Schmedtmann, 
          It includes the following: 
          •	I Built 5 beautiful real-world projects! In these projects, I learned how to plan and architect my applications using flowcharts and common JavaScript patterns.<br>
          •	I learned JavaScript fundamentals: variables, if/else, operators, boolean logic, functions, arrays, objects, loops, strings, and more.<br>
          • I Learned modern JavaScript (ES6+) from the beginning: arrow functions, destructuring, spread operator, default arguments, optional chaining, and more.<br>
          •	I also learned How JavaScript works behind the scenes: engines, the call stack, hoisting, scoping, the 'this' keyword, reference values, and more.<br>
          •	Deep dive into functions: arrow functions, first-class and higher-order functions, bind, and closures.<br>
          •	Deep dive into object-oriented programming: prototypal inheritance, constructor functions (ES5), classes (ES6), encapsulation, abstraction, inheritance, and polymorphism. <br>
          •	Deep dive into asynchronous JavaScript: the event loop, promises, async/await, and error handling. You will use these to access data from third-party APIs with AJAX calls.  <br>
          •	Learn how to use some tools including: NPM, Parcel, Babel, and ES6 modules.<br>
        Something that I found interesting about JavaScript is the use of truthy and falsy values. This can be a great tool when coding conditional statements. 
        </p>
        
      </div>

      
    </div>   
    
    <div class="education">
        <img
          src="../../assets/Angular_full_color_logo.svg"
          data-src="img/digital.jpg"
          alt="JS"
          class="education__img"
        />
        <div class="education__feature">
          <!-- <div class="education__icon">
            <svg>
              <use xlink:href="img/icons.svg#icon-monitor"></use>
            </svg>
          </div> -->
          <h5 class="education__header">Angular Framework</h5>
          <p>
            After completing the abovementioned JavaScript Course on udemy, I started exploring Angular ! Along with Angular I started learning TypeScript. 
            You might notice that this website was created using Angular ! 
            I enjoy Angular's use of components as this already makes your program MVC and module oriented in a way. 
            Something which I found challenging with Angular, is to make it mobile friendly and responsive.
          </p>
    
        </div> 
        </div>

        <div class="education">
            <img
              src="../../assets/wethinkcode.png"
              data-src="img/digital.jpg"
              alt="JS"
              class="education__img"
            />
            <div class="education__feature">
              <!-- <div class="education__icon">
                <svg>
                  <use xlink:href="img/icons.svg#icon-monitor"></use>
                </svg>
              </div> -->
              <h5 class="education__header">WeThinkCode_ Bootcamp</h5>
              <p>
                From the 1st of July 2024 to 6th of July 2024, I had the opportunity to participate in WeThinkCode_'s selection bootcamp.
                This Bootcamp consisted of Python fundamentals. I thoroughly enjoyed using Python and found out that it is great for doing math in!<br>
                The Bootcamp also focused heavily on peer-to-peer education and team work, which I very much enjoyed! I believe that this would be a great skill to possess in a development environment where you are working as a team to achieve desired outcomes
                This Bootcamp also taught me to speak less and listen more. You are always in a position to learn from others, a mindset to have not only in programming, but life in general !
              </p>
        
            </div>
        </div>

        <div class="education">
          <img
            src="../../assets/csharp-logo-265a149e.svg"
            data-src="img/digital.jpg"
            alt="JS"
            class="education__img"
          />
          <div class="education__feature">
            <!-- <div class="education__icon">
              <svg>
                <use xlink:href="img/icons.svg#icon-monitor"></use>
              </svg>
            </div> -->
            <h5 class="education__header">C# and .NET</h5>
            <p>
              In September 2024, I joined Polar Monitoring as a product/project manager.
              Polar Monitoring is a company that specialises in the development of software for monitoring devices which communicate via Modbus RTU.<br>
              Due to the company's product is built on C# and .NET, I am being exposed to this daily and I am learning a lot!<br>
              Learning C# so far has been challenging yet very rewarding. The aspects I have found most interesting would be the use of OOP and how powerful inheritence can be on a large scale. 
              What Ive found most challenging so far would be the difference in how different data types work in C# compared to JavaScript.
            </p>
      
          </div>
      </div>

        <div class="education">
            <img
              src="../../assets/homepage-green-icon.svg"
              data-src="img/digital.jpg"
              alt="JS"
              class="education__img"
            />
            <div class="education__feature">
              <!-- <div class="education__icon">
                <svg>
                  <use xlink:href="img/icons.svg#icon-monitor"></use>
                </svg>
              </div> -->
              <h5 class="education__header">Save Your Braai & Other Projects</h5>
              <p>
                Apart from the projects I built during the JavaScript course, I also started some of my own ! 
                I am busy building an e-commerce site where users can save their braai by buying fire wood, ice and fire starters and get it delivered to them at their braai.
                At the moment, this site only has front-end developed and still needs back-end to make it fully functional. 
                Have a look at <a href="https://saveyourbraai.netlify.app" ><span style = " color: #6badf5; font-weight:bold; text-decoration: none;">Save Your Braai</span></a>  and feel free to let me know if you have any suggested improvements.
              </p>
              <p>
                I'm also building a Ballisic Calculator which calculates the trajectory of a projectile fired from a firearm. 
                I love doing research and have done a tremendous amount to be able to calculate ballsitics accurately. I am working on creating an API which will handle the calculations,
                but for now I have not published this yet as I don't want my calculations to be seen by the user. I will happily however invite you on request to the github repository. 
              </p>
            </div>
      </div>  

      <div class = "link-github"> 
        <a href="https://github.com/H3NN13" class="href"><button class = "btn btn-github">See my GitHub Profile ! </button></a> 
       
    </div>

  </section>